RewriteEngine On

# Jika request bukan file fisik (seperti css/js/gambar)
RewriteCond %{REQUEST_FILENAME} !-f
# Jika request bukan folder fisik
RewriteCond %{REQUEST_FILENAME} !-d

# Arahkan semua request ke index.php
RewriteRule ^(.*)$ index.php [QSA,L]